

<div class="row">
  <div class="col-md-12">
     <ul class="list">
       <li>
           <a routerLink="fromEvent">fromEvent operator</a>
       </li>
       <li>
           <a routerLink="interval">Interval-Timer operator</a>
       </li>
       <li>
           <a routerLink="of-from">of and from operator</a>
       </li>
       <li>
           <a routerLink="to-array">toArray operator</a>
       </li>
       <li>
           <a routerLink="custom">create custom observable</a>
       </li>

     </ul>
  </div>

</div>
