

<div class="row">
  <div class="col-md-12">
     <ul class="list">
       <li>
           <a routerLink="fromEvent">fromEvent() operator</a>
       </li>
       <li>
           <a routerLink="interval">interval() and timer() operator</a>
       </li>
       <li>
           <a routerLink="of-from">of() and from() operator</a>
       </li>
       <li>
           <a routerLink="to-array">toArray() operator</a>
       </li>
       <li>
           <a routerLink="custom">creating custom observable</a>
       </li>
       <li>
         <a routerLink="map">map() operator</a>
       </li>
       <li>
         <a routerLink="pluck">pluck() operator</a>
       </li>
       <li>
         <a routerLink="filter">filter() operator</a>
       </li>
       <li>
         <a routerLink="tap">tap() operator</a>
       </li>
       <li>
         <a routerLink="take">take() operator</a>
       </li>

     </ul>
  </div>

</div>
